* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: white;
  --foreground: black;
}
[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
body {
  color: var(--foreground);
  background-color: var(--background);
}
